


        
        
        #cloud1 {
            z-index: 1;
            position: absolute;
            left:0px;
            top:1.5em;
            font-size: 2em;
            color: #82d4e2;
        }
        #cloud2 {
            z-index: 2;
            position: absolute;
            left:-20px;
            top:2em;
            font-size: 1em;
            font-weight: 900;
            color: #666;
        }
        #cloud3 {
            z-index: 1;
            position: absolute;
            left:-50px;
            bottom:.5em;
            font-size: 2.5em;
            color: #a8e4ec;  
        }
        #cloud4 {
            z-index: 2;
            position: absolute;
            left:-10px;
            top:3em;
            font-size: 2em;
            font-weight: 900;
            color: #999;
        }
        #cloud5 {
            z-index: 2;
            position: absolute;
            left:-60px;
            top:2.8em;
            font-size: 2.5em;
            font-weight: 900;
            color: #bababa;
        }
        #cloud6 {
            z-index: 2;
            position: absolute;
            left:-40px;
            top:0.5em;
            font-size: 1.8em;
            font-weight: 900;
            color: #cacaca;
        }

        @keyframes moveCloud {
            0% {
                transform: translate(1950px);
            }
            100% {
                transform: translate(-50px);
            }
        }
        @-webkit-keyframes moveCloud {
            0% {
                transform: translate(1950px);
            }
            100% {
                transform: translate(-50px);
            }
        }
        @-moz-keyframes moveCloud {
            0% {
                transform: translate(1950px);
            }
            100% {
                transform: translate(-50px);
            }
        }

        #cloud1 {
            z-index: 1;
            position: absolute;
            left:0px;
            top:1.5em;
            font-size: 2em;
            color: #82d4e2;
            animation: moveCloud 60s linear infinite;
            -webkit-animation: moveCloud 60s linear infinite;
            -moz-animation: moveCloud 60s linear infinite;
        }
        #cloud2 {
            z-index: 2;
            position: absolute;
            left:-20px;
            top:2em;
            font-size: 1em;
            font-weight: 900;
            color: #666;
            animation-delay:7s;
            -webkit-animation-delay:7s;
            -moz-animation-delay: 7s;
            animation: moveCloud 50s ease-in-out infinite;
            -webkit-animation: moveCloud 50s ease-in-out infinite;
            -moz-animation: moveCloud 50s ease-in-out infinite;
        }
        #cloud3 {
            z-index: 1;
            position: absolute;
            left:-50px;
            bottom:.5em;
            font-size: 2.5em;
            color: #a8e4ec;    
            animation: moveCloud 55s ease-out infinite;
            -webkit-animation: moveCloud 55s ease-out infinite;
            -moz-animation: moveCloud 55s ease-out infinite;
        }
        #cloud4 {
            z-index: 2;
            position: absolute;
            left:-10px;
            top:3em;
            font-size: 2em;
            font-weight: 900;
            color: #999;
            animation-delay:1s;
            -webkit-animation-delay:1s;
            -moz-animation-delay: 1s;
            animation: moveCloud 50s ease-in-out infinite;
            -webkit-animation: moveCloud 50s ease-in-out infinite;
            -moz-animation: moveCloud 50s ease-in-out infinite;
        }
        #cloud5 {
            z-index: 2;
            position: absolute;
            left:-60px;
            top:2.8em;
            font-size: 2.5em;
            font-weight: 900;
            color: #bababa;
            animation: moveCloud 70s ease-out infinite;
            -webkit-animation: moveCloud 70s ease-out infinite;
            -moz-animation: moveCloud 70s ease-out infinite;
        }
        #cloud6 {
            z-index: 2;
            position: absolute;
            left:-40px;
            top:0.5em;
            font-size: 1.8em;
            font-weight: 900;
            color: #cacaca;
            animation-delay:4s;
            -webkit-animation-delay:4s;
            -moz-animation-delay: 4s;
            animation: moveCloud 55s ease-in infinite;
            -webkit-animation: moveCloud 55s ease-in infinite;
            -moz-animation: moveCloud 55s ease-in infinite;
        }

        #sun {
            position: absolute;
            top: 2em;
            left: 4em;
            width: 3.5em;
            height: 3.5em;
            background-color : yellow;
            border-radius: 50%;
            border: 1px solid #FFFACD;
            box-shadow: #FFFACD 0px 0px 100px 20px;
        }
        body {
            color:black;
            background-color:white;
            background-image:url();
            }